
{{ define "head" }}
  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
{{ end }}

{{ define "main" }}

<section class="service-section">
  <div class="container">
    <h2 class="service-title text-colour-override">Projects
    </h2>
    <div class="divider"></div>
    <div class="row g-4">
     {{ with .Params.project_types }}
        {{ range . }}
        <div class="col-md-4">
          <a href="{{.url | absURL}}" class="service-box-link">
          <div class=" card service-box">
            <div class="icon-circle"><i class="bi {{ .icon }}"></i></div>
            <h5 class="service-heading text-colour-override">{{ .title }}</h5>
            <p class="service-text">{{ .text }}</p>
          </div>
          </a>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}