
{{ define "head" }}
  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
{{ end }}

{{ define "main" }}
<section class="project-highlight">
  <div class="container">
       <div>hello</div>
   
        {{/* Current project id from the page front matter */}}
    {{ $currentID := .Params.id }}
    <p> Current id : {{ $currentID }}</p>
    {{/* Loop through category files under /content */}}
    
    {{ range where .Site.RegularPages "Section" "projects" }}

      <div class="category-block">
        
        <h2 class="category-title">{{ .Title }}</h2>
        <p>{{ .Params }}</p> 

        {{ range .Params.projects }}
          <div class="project d-flex flex-wrap mb-5">

            <div class="project-image">
              <img src="{{ .image | relURL }}" alt="{{ .title }}" class="img-fluid rounded">
            </div>

            <div class="project-details flex-1">
              <h3>{{ .title }}</h3>
              <p>{{ .text }}</p>
              

              {{ if .steps }}
                <ul class="project-steps list-unstyled">
                  {{ range .steps }}
                    <li>
                      <p><strong>{{ .title }}</strong>:  </p>
                    
                      <p>{{ .description }}</p>
                    </br>
                      {{.text}}
                    </li>
                  {{ end }}
                </ul>
              {{ end }}

              {{ if .tools }}
                <p><strong>Tools:</strong> {{ delimit .tools ", " }}</p>
              {{ end }}

              {{ if .frameworks }}
                <p><strong>Frameworks:</strong> {{ delimit .frameworks ", " }}</p>
              {{ end }}

              {{ if .standards }}
                <p><strong>Standards:</strong> {{ delimit .standards ", " }}</p>
              {{ end }}
            </div>
          </div>
        {{ end }}

      </div>
    {{ end }}

  </div>
</section>


{{ end }}

