{{ define "head" }}
  <link rel="stylesheet"  href="{{ "css/custom.css" | relURL }}">
{{ end }}

{{ define "main" }}

<section class="service-section">
  <div class="container">
    <h2 class="service-title text-colour-override">{{.Title}}</h2>
    <div class="divider"></div>
    <div class="row g-4">
    
      {{ with .Params.projects }}
        {{ range . }}
          <div class="col-md-4">         
         
          <a href= "{{ .url | relURL }}" class="service-box-link">
            
              <div class="service-box fixed-card">
                <img src="{{ .image | relURL}}" class="card-img-top fixed-img" alt="{{ .title }}">
                <h5 class="service-heading text-colour-override">{{ .title }}</h5>
                <p class="service-inner-text">{{ .text | truncate 120 }}</p>
                
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</section>

{{ end }}
