{{ define "head" }}
  <link rel="stylesheet" href="/css/custom.css">
{{ end }}

{{ define "main" }}
<section class="py-5 about-section">
  <div class="container">
    <div class="row align-items-start g-4">
      
      <!-- LEFT: profile image -->
      <div class="col-md-4 text-center">
        <img src="/images/profile.jpg" alt="Profile" 
             class="img-fluid rounded shadow-lg">
      </div>

      <!-- RIGHT: content -->
      <div class="col-md-8">
        <p class="text-success fw-bold mb-1 text-uppercase">Discover</p>
        <h2 class="mb-3">About Me</h2>

        <p class="lead">
          My name is <strong>{{ .Params.details.Name }}</strong>. I'm a Cybersecurity & Software Engineer
          specializing in secure systems, automation, and technical incident response.
          I design secure services and automate reliable pipelines.
        </p>

        <!-- DETAILS BOX -->
        <div class=" card border p-3 rounded mt-3">
          <div class="row">
            <div class="col-sm-6">              
              <p class="text-muted fs-6 mb-1">                
                  <i class="bi bi-person-fill text-success"  ></i>           
                {{ .Params.details.Name }}    
              </p>
              <p class="text-muted fs-6 mb-1">                
                <i class="bi bi-telephone-fill text-success"></i>                 
                {{ .Params.details.Phone }} 
              </p>
              <p class="text-muted fs-6 mb-1"><i class="bi bi-briefcase-fill text-success"></i> {{.Params.details.Experience }} </p>
              
            </div>
            <div class="col-sm-6">
              <p class="text-muted fs-6 mb-1"><i class="bi bi-envelope-fill text-success"></i>  {{ .Params.details.Email }}</p>
              <p class="text-muted fs-6 mb-1"> <i class="bi bi-calendar-fill text-success"></i> {{ .Params.details.Age }}</p>
              <p class="text-muted fs-6 mb-1"><i class="bi bi-geo-alt-fill text-success"></i> {{ .Params.details.Location}}</p>
             
          </div>
        </div>

        <!-- DOWNLOAD BUTTON -->
        <a href="/files/Security Software Engineer_yelp_Christabel.pdf" class="btn btn-outline-success mt-3 fw-semibold">
          Download CV
        </a>
      </div>

    </div>
  </div>
</section>
{{ end }}
